

<%- include("./partials/header.ejs") %> 

<form action="/update/<%= books._id %>" class="mt-5" method="post">
  <img src="images/<%= books.image %>" alt="">
    <div class="mb-3 px-5">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Book Name</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Book Name"
        name="bookname"
        value="<%= books.bookname %>"
      />
    </div>
  
    <div class="mb-3 px-5">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Book author</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Book Author"
        name="author"
        value="<%= books.author %>"
      />
    </div>
  
    <div class="mb-3 px-5">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Book Price</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Book Price"
        name="price"
        value="<%= books.price%>"
      />
    </div>
  
    <div class="mb-3 px-5">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Enter Description</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="description"
      ><%= books.description %></textarea>
    </div>
    <button class="btn btn-primary mx-5">Submit</button>
  </form>



  <%- include("./partials/footer.ejs") %>